

.container{
    min-width: 100%;
    color:rgb(168, 57, 12) ;
}

header{
    background-color:  rgb(168, 57, 12);
}

header .container{
    display: flex;
        flex-direction: column;
        align-items: center;
}

.container{
    max-width: 1400px;
        margin: auto;
        height: 180px;
}

.navbar-brand{
    font-family: 'Rye', cursive;
    color: black;
    font-size: 50px;
}


.card-img-top{
    height: 250px;
    width: 250px;
    
}


img{
    display:block;
    margin:auto;
    }


    footer p{
        margin: 0;
        padding: 12px;
        
    }

    footer .container{
        height: 150px;
        justify-content: center;
        display: flex;
        align-items: flex-end;
    }
    .red-social a{
        text-decoration: none;
        display: inline-block;
        width: 100px;
        height: 100px;
        color: rgb(0, 0, 0);
        transition: fill 170ms ease-in-out;
        font-size: 30px;
        margin-top: 50px ;
        
    }

    .red-social :hover{
    color:rgb(196, 151, 134) ;  
    
    }

    .container{
        background-color:rgb(168, 57, 12) ;
        height: 70px;
    }

    .red-social{
        margin-top: 50px ;
    }

    .copy{
        color: black;
    }